<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-5">
        <div class="col-6 offset-3">
        <h4 class="text-center mb-5">Login here!</h4>
        <form action="/login" method="post" novalidate class="needs-validation">
        <div class="mb-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" placeholder="enter username" class="form-control" required>
            <div class="invalid-feedback">username is required</div>
        </div>

        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" placeholder="enter password" class="form-control" required>
            <div class="invalid-feedback">password is required</div>
        </div>
                <button class="btn btn-success btn-sm mt-3 mb-5">Login</button>
            </form>
        </div>
    </div>
</body>