<% layout("/layouts/boilerplate") %>
<body class="main-body">
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h4>Explore</h4>
        </div>
    </div>
    <div class="row">
        <% for(product of products) { %>
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <a href="/products/<%=product._id%>" class="text-decoration-none">
                    <div class="card h-100">
                        <img src="<%=product.imageUrl%>" class="card-img-top" alt="loading">
                        <div class="card-body">
                            <p class="card-text fw-bold"><%=product.name%></p>
                            <p class="card-text"><strong>&#8377;</strong> <%=product.price.toLocaleString("en-IN")%>/piece</p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>
</body>